<%- include('partials/header') %>
<%- include('partials/main_nav') %>

<main class="container py-4">
  <div class="row">
    <div class="col-lg-8 mx-auto text-center">
      <h2 class="mb-3">Hello!</h2>
      <p class="lead mb-0">This is my personal portfolio site where I showcase my projects, share a bit about myself, and provide ways to get in touch.</p>
    </div>
  </div>
</main>

<%- include('partials/bottom_nav') %>
<%- include('partials/footer') %>