<!-- bottom nav bar(fixed bottom)-->
<nav class="navbar fixed-bottom navbar-dark bg-dark">
    <div class="container justify-content-center">
        <h6 class="mb-0 text-white">&copy; Copyright 2025 Aaron Fernandez. All Rights Reserved.</h6>
        <p>
    <a href="https://github.com/fernzaaron" target="_blank"><i class="fab fa-github fa-lg me-3"></i></a>
    <a href="https://www.linkedin.com/in/aaronfernandez547/" target="_blank"><i class="fab fa-linkedin fa-lg"></i></a>
  </p>
    </div>
</nav>